/* ------------- Navbar & Header -------------- */
.navbar-outer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid lightgray;
}

.navbar-inner-container {
  z-index: 1000;
  max-width: 1100px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sunsmart-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.shopping-bag {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  display: inline-block;
  color: inherit;
}
.shopping-bag-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.85rem;
  font-weight: 200;
}

/* --------------- Hero banner --------------- */

.hero-banner-img-container {
  position: relative;
  height: 500px;
  overflow: hidden;
  margin-top: 80px;
}

.hero-banner-img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-banner-img-container-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
  z-index: 2;
}

.hero-banner-img-container-text h1 {
  font-size: clamp(2rem, 5vw, 4rem);
}

.hero-banner-img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* Main */

.main-content-container {
  max-width: 1100px;
  margin: 0 auto;
}

/*-------------- Fliters & Sort-------------- */

.filters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
}

.sort-select-button {
  width: 200px;
  height: 40px;
  border: 1px solid #333;
  background-color: transparent;
  color: inherit;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  /* Remove default select arrow. Replaced w/ svg */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image: url('data:image/svg+xml;utf8,<svg fill="none" stroke="%23333" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M6 9l6 6 6-6"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 18px 18px;
}

.filter-button {
  outline: none;
  border: none;
  background-color: transparent;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 4px;
}

.filter-icon {
  font-size: 1.5rem;
}

.filters-drawer-header {
  border-bottom: 1px solid lightgray;
  margin-bottom: 1rem;
}

.filters-drawer-header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.filters-drawer-header-flex .drawer-icon {
  font-size: 1.5rem;
}

.filters-drawer-header-flex p {
  align-items: center;
  display: flex;
  gap: 4px;
}

.filters-drawer-header-flex .drawer-button {
  font-size: 1.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  display: flex;
  align-items: center;
}

.filters-drawer {
  position: fixed;
  top: 80px;
  left: 0;
  min-height: 100vh;
  width: 350px;
  z-index: 500;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.filters-drawer.open {
  transform: translateX(0);
}

.filter-group {
  margin-inline: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #333;
}

.filter-group h4 {
  margin-bottom: 0.5rem;
}

.filter-group label {
  margin-bottom: 0.5rem;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
}

.filter-group input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 0.5rem;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  /*  */
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: none;
}
.filter-group input[type="checkbox"]:checked {
  background-color: transparent;
  border-color: #333;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: none;
}
.filter-group input[type="checkbox"]:checked::after {
  content: "✕";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: 900;
  color: #333;
  user-select: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

/*---------------- Products container ---------------- */

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.product-card-image-container {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
}
.product-card-image-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 20px;
}
.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.product-card-image-container:hover .hover-image {
  opacity: 1;
}

.product-card-info-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.sort-badge-isNew {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff8a3;
  border-radius: 50%;
  font-weight: bold;
  z-index: 100;
}

/*-------------- Cart page-------------- */

.cart {
  margin-top: 100px;
}

/* Footer sticks to bottom w/ margin 0 auto relative to site-container & site-content in index.css */
.footer-container {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}

/*---------------- Media queries -----------------*/

@media (max-width: 1120px) {
  .navbar-inner-container {
    padding: 0rem 1rem;
  }

  .main-content-container {
    padding: 0rem 3rem;
  }
}

@media (max-width: 768px) {
  .filters-drawer {
    width: 250px;
  }

  .filters-container {
    position: relative;
    max-height: none;
    overflow: visible;
    border-right: none;
    margin-bottom: 20px;
    padding-right: 0;
    width: 100%;
  }

  .sort-select-button {
    width: 150px;
  }

  .main-content-container {
    padding: 0rem 1rem;
  }

  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-start {
    align-self: start;
  }
}
