* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ul li,
a {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-size: inherit;
  border-radius: 4px;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: sans-serif;
  color: #333;

  /* padding on mobile screens */
}

img {
  width: 100%;
  display: block;
  height: auto;
}
